/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FDF7FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#1B0E38;
    border-radius: 0 0 10px 10px;
}
